<!DOCTYPE html>
<html>
<head>
  <title>SAML Strategy for OmniAuth</title>
  <%= csrf_meta_tags %>
</head>
<body>

<div style="width:500px;margin:50px auto;">
  <h1 style='border-bottom:1px solid #999'>SAML Strategy for OmniAuth</h1>
  <%= yield %>
  <p style='font-size:12px;color:#666'>
    Thanks for the <a href='http://www.onelogin.com' target='_blank'>OneLogin</a> provides the SAML service.
  </p>
</div>
</body>
</html>
